- name: Install stow
  become: yes
  apt:
    name: stow
  tags:
    - install
    - dotfiles
    - stow

- name: Clone .dotfiles
  git:
    repo: "git@github.com:jlrickert/dotfiles.git"
    dest: "{{ lookup('env', 'HOME') }}/.dotfiles"
    recursive: yes
    update: yes
    accept_hostkey: yes
  register: dotfiles_res
  tags:
    - install
    - dotfiles
    - stow

- name: Install srcery theme for tmux
  git:
    repo: "https://github.com/srcery-colors/srcery-tmux.git"
    dest: "{{ lookup('env', 'HOME') }}/.tmux/themes/srcery-tmux/srcery.tmux"

- name: Stow dotfiles
  shell: ./install.sh
  args:
    chdir: "{{ lookup('env', 'HOME') }}/.dotfiles"
    creates: "{{ lookup('env', 'HOME') }}/.zsh_profile"
  when: dotfiles_res.changed
