- name: Download nvm
  git:
    repo: "https://github.com/nvm-sh/nvm.git"
    dest: "{{ lookup('env', 'HOME') }}/code/nvm"
  tags:
    - node
    - install

- name: Install nvm for bash
  blockinfile:
    dest: "{{ lookup('env', 'HOME') }}/.bashrc"
    content: |
      export NVM_DIR="$HOME/code/nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
    create: no
  tags:
    - node
    - install

- name: Install nvm for zsh
  blockinfile:
    dest: "{{ lookup('env', 'HOME') }}/.zshrc"
    content: |
      export NVM_DIR="$HOME/code/nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
    create: no
  tags:
    - node
    - install
