- name: Get Packer
  ansible.builtin.git:
    repo: "https://github.com/wbthomason/packer.nvim"
    dest: "{{ lookup('env', 'HOME') }}/.local/share/nvim/site/pack/packer/start/packer.nvim"
  tags:
    - install
    - neovim

- name: Clone Neovim
  ansible.builtin.git:
    repo: "https://github.com/neovim/neovim.git"
    dest: "{{ lookup('env', 'HOME') }}/code/neovim"
  tags:
    - install
    - neovim

- name: Build neovim
  shell: "make CMAKE_BUILD_TYPE=Release -j 8"
  args:
    chdir: "{{ lookup('env', 'HOME') }}/code/neovim"
    creates: build/bin/nvim
  tags:
    - install
    - neovim

- name: Install neovim
  become: true
  shell: "make install"
  args:
    chdir: "{{ lookup('env', 'HOME') }}/code/neovim"
    creates: /usr/local/bin/nvim
  tags:
    - install
    - neovim

- name: Neovim Plugin Development 1
  become: true
  apt: name=luarocks
  tags:
    - install
    - neovim

- name: Neovim Plugin Development 2 luacheck
  become: true
  shell: luarocks install luacheck
  args:
    creates: /usr/local/bin/luacheck
  tags:
    - install
    - neovim
